.homepage-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background-image: url('https://i.imgur.com/Ab3fiOP.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: left;
  font-size: 50px;
  font-weight: 700;
  top: 0;
  position: sticky;
}

.homepage-title {
  text-align: Center;
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
}

.filter-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
}

.filter-button {
  height: 45px;
  width: 90px;
  font-size: 15px;
  font-weight: 400;
  color: gray;
  text-align: center;
  border-radius: 20px;
  border: 1px solid lightgray;
  box-shadow: 0 1px 1px gray;
  background-color: white;
  /* text-shadow: 1px 1px 1px lightgray; */
}

.filter-button:active {
  transform: translateY(1px);
  box-shadow: 0 0 1px white;
  /* text-shadow: 0 0 1px white; */
}


.filter-results-container {
  display: flex;
  justify-content: center;
}

.filter-results {
  height: 53vh;
  width: 90%;
  align-self: center;
  border: 1px solid black;
  overflow: scroll;
}

