.homepage-banner {
  height: 20vh;
  background-image: url('https://i.imgur.com/Ab3fiOP.jpg');
  font-size: 50px;
}
.filter-bar {
  height: 5vh;
  padding-top: 25px;
}
.filter-results {
  height: 65vh;
  border: 1px solid black;
}