.listitems-container {
  height: 43vh;
  width: 100%;
  border: 3px solid green;
}
.form-inputs{
  display: flex;
}

.decrement {
  color: black;
  border: 2px solid black;
  padding: 5px 5px 5px 5px;
  border-radius: 1000px;
}

.increment {
  color: black;
  border: 2px solid black;
  padding: 3px;
  border-radius: 1000px;
}


