/* ListItems are displayed in the top section */
.listitems-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-image: url("https://i.imgur.com/Ab3fiOP.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: 0;
  transform: rotate(180deg);
  margin-bottom: 10px;
  top: 0;
  position: sticky;
}

.listitems-title {
  text-align: Center;
  font-size: 40px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  transform: rotate(180deg);
}

.listitems-container {
  /* display: flex; */
  height: 45vh;
  width: 100%;
  overflow: scroll;
  border: 1px solid purple;
}

.listitems-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 4em;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 1px solid green;
  overflow: scroll;
}

/* ListItem elements */
.display-button {
  background-color: white;
  font-weight: 400;
  color: gray;
  font-size: 1em;
  height: 2em;
  width: 2em;
  border: 1px solid lightgray;
  box-shadow: 0 1px 1px gray;
  border-radius: 50px;
}

.display-button:active {
  transform: translateY(1px);
  box-shadow: 0 0 1px white;
}
.quantity-display {
  width: 15px;
  text-align: center;
  font-size: 16px;
}

.uofm-display {
  width: 30px;
  text-align: left;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.food-name {
  width: 150px;
  font-size: 16px;
  text-align: left;
  overflow: hidden;
  
}

.location-display {
  width: 45px;
  font-size: 18;
}

.delete-button {
  line-height: 50%;
}
