.NavbarFooter {
  display: flex;
  height: 6vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  
}

.home-icon {
color: white;
font-size: 30px;
}

.search-icon {
color: white;
font-size: 30px;
}

.pantry-icon {
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  
  .NavbarFooter {
    display: none;
  
    
    
  }
  
}


@media screen and (max-width: 420px) {
  
  
}