.Navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: flex-end;
    padding-top: 3%;
}

@media screen and (max-width: 600px) {
  .Navbar {
    display: none;    
  } 
}



@media screen and (max-width: 475px) {
  
}