.NavbarFooter {
  height: 4vh;
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding: 5% 0 5% 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1px solid black;
}


@media screen and (min-width: 600px) {
  
  .NavbarFooter {
    display: none;
  
    
    
  }
  
}


@media screen and (max-width: 420px) {
  
  
}