.form-container {
  display: flex;
  justify-content: center;
}

.new-item-form-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  width: 95%;
  height: 27vh;
  border: 3px solid red;
  background-color: cornflowerblue;
  border-radius: 25px;
  margin-top: 10px;
}

