.form-layout .form-container {
  width: 100%;
  height: 30vh;
  border: 3px solid red;
  background-color: cornflowerblue;
}

.form-banner {
  border: 1px solid black;
  width: 100%;
  margin-left: 0;
  margin-right: 25%;
  
}

/* Form inputs */
.qty-input {
  width: 35px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.uofm-input {
  
  width: 35px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.food-input {
  width: 200px;
  text-align: center;
  padding: 5px;
  margin: 5px;

}

/* Form toggles and button container */
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Form 'add' button */
.create-item {
  align-items: center;
  width: 100px;
  margin: 15%;
}

/* Form toggle switches */
.location-toggle {
  text-align: left;
  padding-left: 10%;
}
