
.form-component {
  display: flex;
  position: absolute;
  bottom: 8%;
  height: 40vh;
  width: 100%;
  justify-content: center;
  background-color: purple;
}
.new-item-form-container {
  position: absolute;
  bottom: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 30vh;
  background-color: rgb(245, 244, 244);
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: 3px 3px 3px 3px  rgb(185, 183, 183);
}

.form-banner {
  height: 35px;
  width: 90%;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.form-input {
  border-radius: 14px;
}

.qty-input {
  height: 25px;
  width: 55px;
  font-size: 18px;
  text-align: center;
}

.uofm-input {
  height: 25px;
  width: 55px;
  font-size: 18px;
  text-align: center;
}

.food-input {
  height: 25px;
  width: 125px;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
}

.add-button {
  height: 35px;
  width: 285px;
  font-size: 18px;
  border-radius: 15px;
}

