.search-bar-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-image: url('https://i.imgur.com/Ab3fiOP.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
}

.search-bar-title {
  text-align: Center;
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.white-title {
  color: white;
}

.search-bar-container {
  display: flex;
  height: 15vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search-bar-input {
  font-size: 25px;
  height: 35px;
  width: 80%;
  margin: 0;
  border-radius: 15px;
  padding-left: 4%;
  font-family: 'Libre Baskerville', serif;
}

.search-results {
  height: 52vh;
  border: 1px solid black;
  overflow: scroll;
}

